@page
@model SchoolMedicalManagement.Pages.SchoolNurses.IndexModel
@{
    ViewData["Title"] = "School Nurses";
}
<h1>School Nurses</h1>
<p>
    <a class="btn btn-primary" asp-page="Create">Create New School Nurse</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>User Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var nurse in Model.SchoolNurses)
    {
        <tr>
            <td>@nurse.FullName</td>
            <td>@nurse.PhoneNumber</td>
            <td>@nurse.UserId</td>
            <td>
                <a asp-page="Details" asp-route-id="@nurse.Id">Details</a> |
                <a asp-page="Edit" asp-route-id="@nurse.Id">Edit</a> |
                <a asp-page="Delete" asp-route-id="@nurse.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table> 